<%- include('./partials/header.ejs') %>

<div class="container my-4">
  <h3 class="text-center">Update Account</h3>

  <form action="/update/<%= record._id %>" method="POST">

    <label>Name</label>
    <input type="text" name="name" value="<%= record.name %>" class="form-control my-2">

    <label>City</label>
    <input type="text" name="city" value="<%= record.city %>" class="form-control my-2">

    <label>Email</label>
    <input type="text" name="email" value="<%= record.email %>" class="form-control my-2">

    <label>Contact</label>
    <input type="text" name="contact" value="<%= record.contact %>" class="form-control my-2">

    <button class="btn btn-success mt-3">Update</button>
  </form>
</div>

<%- include('./partials/footer.ejs') %>
